<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>Edit Member Stats</h1>
         </header>
         {{#if error}}
         <p class = "alertMsg">*{{error}}</p>
         {{/if}}
          {{#if alertMsg}}
         <p class = "alertMsg">*{{alertMsg}}</p>
         {{/if}}
         <form id="updateGymMember-form" action="/gymMember/update" method="POST">
            <div class="inputDiv">
              <label for="membername">Select Member</label>
               <select id="membername" name="membername" required>
                  <option value="">Choose</option>
                  {{#each membernames}}
                  <option value={{this.username}}>{{this.username}}</option>
                  {{/each}}
               </select>   
            </div>
            <div class="inputDiv">
               <label for="memberheight"> Height(metres)</label><br>
               <input class="major" type="number" id="memberheight" name="memberheight" value = "{{member.memberheight}}" step="0.01" min="0" required>
            </div>
            <div class="inputDiv">
               <label for="memberweight"> Weight(kg)</label><br>
               <input class="major" type="number" name="memberweight" id="memberweight" value = "{{member.memberweight}}" step="0.001" min="0" required>
            </div>
           
             <input type="hidden" name="memberId" value="{{member._id}}">
            <div class="centered">
               <div class="row">
                  <div class="col-sm-6"><input type="submit"  value="Update"></div>
                  <div class="col-sm-6"> <input type="button" onclick="window.location.href='/gymMember/view/{{member._id}}'"
                                id="cancel" value="Cancel"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>