<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>Edit Activity</h1>
         </header>
         {{#if error}}
         <p class = "alertMsg">*{{error}}</p>
         {{/if}}
         {{#if alertMsg}}
         <p class = "alertMsg">*{{alertMsg}}</p>
         {{/if}}
         <form id="createActivity-form" action="/activity/update" method="POST">
            <div class="inputDiv">
               <label for="activityname"> Activity Name</label><br>
               <input class="major" type="text"  id="activityname" value="{{activity.activityname}}"  name="activityname" pattern="[A-Za-z\s]{1,15}" title="Must contain only text" required>
            </div>
            <div class="inputDiv">
               <label for="activitytrainer">Activity Trainer</label><br>
               <select id="activitytrainer"  name="activitytrainer" required>
                  <option value="">Choose</option>
                  {{#each trainerList}}
                     <option value="{{this.trainername}}">{{this.trainername}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="inputDiv">
               <label for="membershipplan">Membership Plan</label><br>
               <select id="membershipplan"  name="membershipplan" required>
                  <option value="">Choose</option>
                  <option value="Gold">Gold</option>
                  <option value="Platinum">Platinum</option>
                  <option value="Diamond">Diamond</option>
                  <option value="Silver">Silver</option>
               </select>
            </div>
            <div class="inputDiv">
               <label for="description">Description</label><br>
               <textarea id="description" name="description" required>{{activity.activityDescription}}</textarea>
            </div>
            <input type="hidden" name="activityId" value={{activity._id}}>
            <div  class="centered">
               <div class="row">
                  <div class="col-sm-6"><input type="submit"  value="Update"></div>
                  <div class="col-sm-6"> <input type="button" onclick="window.location.href='/activity/view/{{activity._id}}'"  id="cancel" value="Cancel"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>