<div class="content">
    <div class="container-fluid">
        <div class="jumbotron" id="head-doc">
            <header>
                <h1>{{userName}}'s Workout</h1>
                <h2>{{activity.activity}} Activity</h2>
                {{#if permission}}
                <p id="editOption"><a  href="/workoutActivity/update/{{activity._id}}"><img alt="Edit Activity" src="../../../public/images/Editing-edit-icon.png"></a>
                    | <a href="/workoutActivity/delete/{{activity._id}}"><img alt="delete" src="../../../public/images/delete.png"></a>
                </p>
                 {{/if }}
            </header>
            <div class="row">
                <div class="col-sm-8">
                    <div class="view" id="description">
                        <h4>DESCRIPTION</h4>
                        <p>{{activity.description}}</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="view" id="sets">
                        <h4>Sets</h4>
                        <p>{{activity.sets}}</p>
                    </div>
                    <div class="view" id="weight">
                        <h4>Weight</h4>
                        <p>{{activity.weight}} pounds</p>
                    </div>
                    <div class="view" id="repetition">
                        <h4>Repetition</h4>
                        <p>{{activity.repetitions}}</p>
                    </div>


                </div>
                <div class="col-sm-4">
                    <div class="view" id="workoutDays">
                        <h4>Days</h4>
                        <p>{{activity.days}}</p>
                    </div>
                    <div class="view" id="workoutlevel">
                        <h4>Level</h4>
                        <p>{{activity.level}}</p>
                    </div>
                    <div class="view" id="startDate">
                        <h4>Start Date</h4>
                        <p>{{activity.startdate}}</p>
                    </div>
                    <div class="view" id="endDate">
                        <h4>End Date</h4>
                        <p>{{activity.enddate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>